# UniversalMolecule mainnet bootstrap example.
# Run from contrib/linearize after a local, non-pruned node is fully synced.

datadir=/home/example/.universalmolecule
host=127.0.0.1
port=5921

min_height=0
max_height=4121537

netmagic=fad3e7f4
genesis=00000059f24d9e85501bd3873fac0cd6e8a43fd8c20eee856082dbdcc09a8e64
input=/home/example/.universalmolecule/blocks

hashlist=hashlist.txt
output_file=/home/example/universalmolecule-bootstrap-4121537.dat

out_of_order_cache_sz=100000000
rev_hash_bytes=False
file_timestamp=0
split_timestamp=0
debug_output=False
